@font-face {
  font-family: "chat-icon";
  src: url("../fonts/chat-icon.eot?2qevqt");
  src: url("../fonts/chat-icon.eot?2qevqt#iefix") format("embedded-opentype"),
    // url("../fonts/iconfont.ttf?2qevqt") format("truetype"),
    // url("../fonts/iconfont.woff?2qevqt") format("woff"),
    url("../fonts/chat-icon.svg?2qevqt#chat-icon") format("svg"),
    //网站
    url("//at.alicdn.com/t/c/font_4431305_drqyx1a2poh.woff?t=1706886712835")
      format("woff"),
    url("//at.alicdn.com/t/c/font_4431305_drqyx1a2poh.ttf?t=1706886712835")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "chat-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e651";
}

.icon-nav:before {
  content: "\e660";
}
