// @font-face {
//   font-family: "chat-icon";
//   src: url("../fonts/chat-icon.eot?2qevqt");
//   src: url("../fonts/chat-icon.eot?2qevqt#iefix") format("embedded-opentype"),
//     // url("../fonts/iconfont.ttf?2qevqt") format("truetype"),
//     // url("../fonts/iconfont.woff?2qevqt") format("woff"),
//     url("../fonts/chat-icon.svg?2qevqt#chat-icon") format("svg"),
//     //网站
//     url("//at.alicdn.com/t/c/font_4431305_drqyx1a2poh.woff?t=1706886712835")
//       format("woff"),
//     url("//at.alicdn.com/t/c/font_4431305_drqyx1a2poh.ttf?t=1706886712835")
//       format("truetype");
//   font-weight: normal;
//   font-style: normal;
// }
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: "chat-icon"; /* Project id 4431305 */
  src: url("//at.alicdn.com/t/c/font_4431305_cpv2sll8ag.woff2?t=1712067533643")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_4431305_cpv2sll8ag.woff?t=1712067533643")
      format("woff"),
    url("//at.alicdn.com/t/c/font_4431305_cpv2sll8ag.ttf?t=1712067533643")
      format("truetype");
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "chat-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e651";
}

.icon-nav:before {
  content: "\e660";
}
.icon-shop:before {
  content: "\e601";
}
.icon-more:before {
  content: "\e64c";
}
.icon-group-chat:before {
  content: "\e661";
}
.icon-music:before {
  content: "\e607";
}
.icon-navigation:before {
  content: "\e600";
}
.icon-edit:before {
  content: "\e613";
}
.icon-back:before {
  content: "\e602";
}

.icon-right-back:before {
  content: "\e6b5";
}
.icon-like:before {
  content: "\e7bf";
}
.icon-liked:before {
  content: "\e61c";
}
.icon-shengluehao:before {
  content: "\e708";
}

.icon-isVideo-tip:before {
  content: "\e60a";
}

.icon-tip:before {
  content: "\e60b";
}
.icon-location:before {
  content: "\e605";
}
.icon-no-lock:before {
  content: "\e6e6";
}
.icon-draft:before {
  content: "\e616";
}
.icon-share::before {
  content: "\e67d";
}
.icon-add::before {
  content: "\e62e";
}
.icon-comment::before {
  content: "\e636";
}
.icon-likes::before {
  content: "\e7d2";
}
.icon-share::before {
  content: "\e633";
}
